h1 {
  color: red;
  text-align: centre;
}
.results {
  border: 1px solid black;
  padding: 10px auto;
  margin: 20px auto;
  max-width: 500px;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: border-color 0.2s ease-in-out, background-color 0.2s,
    box-shadow 0.2s;
}
.container {
  background-color: rgb(158, 155, 155);
  max-width: 600px;
  margin: 0 auto;
  padding: 20px auto;
}
.operations {
  display: flex;
  justify-content: space-around;
  border: 1px solid #ddd;
  border-radius: 1px;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 10px auto;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: border-color 0.2s ease-in-out, background-color 0.2s,
    box-shadow 0.2s;
}
.operation {
  border: 1px solid black;
  width: 100px;
  text-align: center;
  border-radius: 20px;
}
.numbers {
  display: flex;
  justify-content: space-around;
  columns: 3;
}
