body {
  background-color: hsl(0, 0%, 85%);
}
.calculator {
  background-color: hsl(0, 0%, 15%);
  max-width: 500px;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}
#display {
  width: 92%;
  padding: 20px;
  border: none;
  background-color: hsl(0, 0%, 25%);
  color: white;
  font-size: 36px;
  font-weight: bold;
}
#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}
button {
  border-radius: 70px;
  padding: 20px;
  font-size: 36px;
  font-weight: bold;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: hsl(0, 0%, 40%);
}
button:active {
  background-color: hsl(0, 0%, 50%);
}
.operators {
  background-color: hsl(30, 96%, 47%);
}

.operators:hover {
  background-color: hsl(30, 96%, 57%);
}
.operators:active {
  background-color: hsl(30, 96%, 67%);
}
